@media screen and (min-width: 641px) {
body{
	max-width: 1000px;
	margin: 0 auto;
}

.nopc{
	display: none
}

.top_50{
	margin-top: 50px;
}



main{
	margin:3% auto 2% auto;
}

header h1{
	font-size: 220%;
	margin:2%;
	color: #333;
	text-align: center;
	font-weight:bold;
	font-family: 'Inknut Antiqua', serif;
}

 main p{
	line-height: 1.45em;
	font-size: 88%;
	max-width: 610px;
	margin:0 auto 14px auto;
	text-align: center;
	color: #333;
}

main p a{
	text-decoration: none;
	color: #6A5ACD;
}

main p a:hover{
	text-decoration: underline;
}

.formrun{
	width:330px;
	margin:6% auto 0 auto;
}

.formrun .form_content{

}


.formrun div label{
	margin-bottom: 5px;
	font-size: 85%;
}

.formrun div input{
	width:200px;
}

.error_comment{
	font-size: 75%;
	color:#FF6347;
	margin-top: 6px;
	text-align: center;
}

body form.formrun button{
	width: 172px;
	font-size: 80%;
	text-align: center;
	display: block;
	margin: 5% auto;
	background-color: #00CED1;
	color:#fff;
	padding:3px 10px 4px 10px;
	border:none;
}


}