@media screen and (min-width: 641px) {

main{
	margin: 5%;
}

main h1{
	font-size: 120%;
	font-weight:bold;
}

main h1, main p{
	margin-bottom: 14px;
}

.formrun div label{
	margin-bottom: 5px;
}

.formrun div input{
	width:200px;
}

.error_comment{
	font-size: 80%;
	color:red;
}

}