@media screen and (min-width: 641px) {

main{
	max-width: 1000px;
	margin: 1% 2%;
}

main h1{
	font-size: 120%;
	font-weight:bold;
	
}

main h1, main p{
	margin-bottom: 14px;
}

.formrun div label{
	margin-bottom: 5px;
}

.formrun div input{
	width:200px;
}

.error_comment{
	font-size: 80%;
	color:red;
	margin-top: 5px;
}

.formrun button{
	margin: 2% 5%;
	background-color: #00CED1;
	color:#fff;
	padding:5px 10px;
	border:none;

}

}