@media screen and (max-width: 640px) {
body{
	margin: 0 auto;
}

.top_50{
	margin-top: 50px;
}

main{
	margin:3% 5% 2% 5%;
}

header h1{
	font-size: 124%;
	margin:5% 1% 3% 1%;
	color: #333;
	text-align: center;
	font-weight:bold;
	font-family: 'Inknut Antiqua', serif;
}

 main p{
	line-height: 1.45em;
	font-size: 80%;
	margin:20px auto 14px auto;
	color: #333;
}

main p a{
	text-decoration: none;
	color: #6A5ACD;
}

main p a:hover{
	text-decoration: underline;
}

.formrun{
	margin:6% auto 0 auto;
}

.formrun .form_content{

}


.formrun div label{
	margin-bottom: 5px;
	font-size: 76%;
	display: block;
}

.formrun div input{
	width:94%;
}

.error_comment{
	font-size: 75%;
	color:#FF6347;
	margin-top: 6px;
}

body form.formrun button{
	width: 60%;
	font-size: 80%;
	text-align: center;
	display: block;
	margin: 30px auto;
	background-color: #00CED1;
	color:#fff;
	padding:3px 10px 4px 10px;
	border:none;
}




}
